<ng-container *ngIf="milestone">
    <ng-container *ngIf="galleryItems.length">
        <gallery
            [objectFit]="'contain'"
            [items]="galleryItems"
            (itemClick)="selection($event)"
            [thumbs]="galleryConfig.thumbs"
        ></gallery>
    </ng-container>
    <mat-list-item>
        <div matListItemTitle>{{milestone.name}}</div>
        <div matListItemLine>{{milestone.dateTime | date: 'dd/MM/yyyy'}}</div>
    </mat-list-item>
    <ng-container *ngIf="album">
        <p>{{album.description}}</p>
    </ng-container>
</ng-container>