
<h1>Bản đồ</h1>
<google-map #googleMap height="800px" [options]="gmOptions"
  (mapRightclick)="mapRightMouseClick($event)" (mapMousemove)="move($event)">
  <map-marker #marker="mapMarker" *ngFor="let milestone of milestones" [position]="milestone.coordinates"
    (mapClick)="openInfoWindow(marker, milestone)" [options]="mkOptions" [title]="milestone.numericalOrder.toString()">
  </map-marker>
  <map-info-window (closeclick)="closeInfoWindow()">
    <ng-container *ngIf="infoWindowContent">
      <app-custom-info-window [milestone]="milestoneMarker" *ngIf="milestoneMarker"></app-custom-info-window>
    </ng-container>
  </map-info-window>
</google-map>

<div>Latitude: {{display.lat ? display.lat : ''}}</div>
<div>Longitude: {{display.lng ? display.lng : ''}}</div>

<ng-template #contextMenu let-coordinates>
  <div class="example-menu">
    <button class="example-menu-item" [cdkCopyToClipboard]="coordinates.toString()">
      {{ coordinates.toUrlValue() }}
    </button>
    <button class="example-menu-item" (click)="addNewStone(coordinates)">Thêm cột mốc</button>
  </div>
</ng-template>