<google-map #googleMap height="100vh" width="100%" [options]="gmOptions">
    <map-marker #marker="mapMarker" *ngFor="let milestone of milestoneMarkers$ | async" [position]="milestone.coordinates"
    (mapClick)="openInfoWindow(marker, milestone)" [options]="mkOptions" [title]="milestone.numericalOrder.toString()">
  </map-marker>
  <map-info-window [options]="iwOptions" (closeclick)="closeInfoWindow()">
    <ng-container *ngIf="infoWindowContent">
      <app-custom-info-window [milestone]="milestoneMarker" *ngIf="milestoneMarker"></app-custom-info-window>
    </ng-container>
  </map-info-window>
</google-map>