.container {
    position: relative;

    mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

.sidenav-container {
    height: calc(100vh - 64px);
    overflow: hidden;
    mat-sidenav-content{
        overflow: hidden;
    }
}