<h2 mat-dialog-title align="center">{{ data.state === 'new' ? 'Thêm cột mốc mới' : 'Cập nhật cột mốc' }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="newMilestoneGroup" fxLayout="column" fxLayoutGap="2px">

    <mat-form-field appearance="outline">
      <mat-label>Số thứ tự(bắt buộc)</mat-label>
      <input matInput placeholder="Thêm số thứ tự" formControlName="numericalOrder" appInputOnlyNumber>
      <mat-error>Hãy nhập số thứ tự hợp lệ</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tên cột mốc(bắt buộc)</mat-label>
      <input matInput placeholder="Thêm tên cột mốc" formControlName="name">
      <mat-error>Hãy nhập tên hợp lệ</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Địa chỉ(bắt buộc)</mat-label>
      <input matInput placeholder="Thêm địa chỉ" formControlName="address">
      <mat-error>Nhập địa chỉ hợp lệ</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ngày(bắt buộc)</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Nhập ngày (Ngày/tháng/năm)" formControlName="dateTime">
      <mat-hint>Ngày/tháng/năm</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Hãy chọn ngày hợp lệ</mat-error>
    </mat-form-field>

    <div fxLayout="row" class="album_id_container">
      <div fxFlex="100" fxLayoutAlign="start center" fxLayoutGap="2px" *ngIf="album">
        <span>{{'Album đã chọn: '}}</span>
        <span>{{ album.name }}</span>
      </div>
      <button mat-button type="button" (click)="chooseAlbum()">Chọn album</button>
    </div>

    <google-map #googleMap [options]="gmOptions">
      <map-marker [position]="data.data.coordinates" [options]="markerOptions" (mapDragend)="markerDraggend($event)">
      </map-marker>
    </google-map>
    <div>
      <div>
        <span>Lat: </span>
        <span>{{ newMilestoneGroup.value.coordinates.lat }}</span>
      </div>
      <div>
        <span>Lng: </span>
        <span>{{ newMilestoneGroup.value.coordinates.lng }}</span>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button type="submit" [disabled]="newMilestoneGroup.invalid" (click)="submit()">
    {{ data.state === 'new' ? 'Thêm mới' : 'Cập nhật' }}
  </button>
</mat-dialog-actions>