<div class="welcome-container">
  @if (data.mediaType === 'image') {
  <img [src]="data.mediaUrl" alt="Welcome Image"/>
  <om-marquee [animationDuration]="'25s'" [marqueeGap]="'100%'" [pauseOnHover]="true"
    styleClass="custom-marquee">
    <ng-template>
      <div class="item">
        <div>
          Anh bảo anh sẽ cho tôi cuộc sống như chị Hằng. Nhưng cuối cùng anh đối xử với tôi như một thằng Cội.
        </div>
      </div>
    </ng-template>
  </om-marquee>
  }@else {
  <video #videoPlayer [src]="data.mediaUrl" controls></video>
  }
</div>